<div style="width: 10rem; height: 100vh;" class="shadow-lg">
    <ul>
        <li><a href="/projects"> Projects </a></li>
        <li><a href="/onlineprojects"> Online Project </a></li>
        <hr>
        <li><a href="/forums"> Forums </a></li>
    </ul>
</div>