<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>Web Project</title>
</head>
<body class="d-block">
    <script src="src/<%= game %>/index.js"></script>
</body>
</html>