<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="neh, portfolio, business, development, technology, computer science, web, web devlopment, website, node, node js, neh reh, socket, online">
    <meta name="description" content="Welcome to my personal website! This is where I upload my projects if applicable like web projects involving pixi.js. And or showcases of other great things I made in other development enviroments such as Godot, python, java, and such. Share and discuss with eachother about my projects in realtime. (Wesite still under construction)">
    <meta name="author" content="Neh Reh">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>Neh Games</title>
</head>
<body>
    <div class="d-flex">
        <%- include("_sidebarnav") %>
        <div style="flex-grow: 1;">
            <%- include('_topnav') %>
            <div class="container">
                <h1> Welcome to Neh Games </h1>
                <div>
                    <h3> Game Spotlight </h3>
                    <a href="/fnaf2"> !!! here </a>
                </div>
                <div>
                    <a href="http://gear5ichigo.github.io/nehgames"> go here while i build this site </a>
                </div>
            </div>
        </div>
    </div>
    <script src="src/index.js"></script>
</body>
</html>